// color variables
$light-red: #ff6f61;
$soft-cyan: #9cd7db;
$bright-yellow: #fcdc29;
$light-grayish-orange: #e8ddbf;
$is-danger: #f22435;
$dark-blue: #273057;
$dark-gray: #868995;
$dark-cyan: #00656b;
$grayish-cyan: #e4f9fe;
$light-blue: #286d9a;

//font-size
$text-xl: 2.5rem;
$text-lg: 2rem;
$text-md: 1.5rem;
$text-sm: 1.2rem;
$text-xs: 1rem;

//text-color
.text-light-red {
  color: $light-red;
}

.text-soft-cyan {
  color: $soft-cyan;
}

.text-bright-yellow {
  color: $bright-yellow;
}

.text-light-grayish-orange {
  color: $light-grayish-orange;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-dark-cyan {
  color: $dark-cyan;
}

.text-light-blue {
  color: $light-blue;
}

//background-colorF
.background-light-red {
  background-color: $light-red;
}

.background-white {
  background-color: #fff;
}

.background-grayish-cyan {
  background-color: $grayish-cyan;
}

.background-grayish-orange {
  background-color: $light-grayish-orange;
}

//border-color
.is-danger {
  border-color: #f22435;
}

//icon
.fa-1x {
  font-size: $text-md;
}

//cursor-pointer
.cursor-pointer {
  cursor: pointer;
}

//button
.btn-submit {
  color: #fff;
  background-color: $light-red;
  border-color: $light-red;

  &:hover {
    background-color: $is-danger;
    color: #fff;
  }
}

.btn-outline-submit {
  color: $dark-blue;
  border-color: $dark-blue;
}

.btn-login {
  background-color: $light-blue;
  color: white;
  &:hover {
    color: #fff;
  }
}
