// color variables
$light-red: #ff6f61;
$soft-cyan: #9cd7db;
$dark-blue: #273057;
$bright-yellow: #fcdc29;

//text-color
.text-light-red {
  color: $light-red;
}

.text-soft-cyan {
  color: $soft-cyan;
}

.text-bright-yellow {
  color: $bright-yellow;
}

.text-dark-blue {
  color: $dark-blue;
}

//cursor-pointer
.cursor-pointer {
  cursor: pointer;
}

//button
.btn-submit {
  color: #fff;
  background-color: $light-red;
  border-color: $light-red;

  &:hover {
    background-color: red;
    color: #fff;
  }
}

.btn-outline-submit {
  color: $dark-blue;
  border-color: $dark-blue;
}

.origin-price {
  text-decoration: line-through;
  text-decoration-color: #ff6f61;
}

